.select-content h1 {
    margin: 0;
    font-size: 32px;
}

.select-content h2 {
    margin-top: 48px;
    margin-bottom: 32px;
    font-size: 24px;
}

.category-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.category-list button {
    padding: 16px;

    font-size: 16px;

    background-color: #111;
    color: white;

    border: none;
    border-radius: 12px;

    cursor: pointer;
}

.back-link {
    display: inline-block;
    margin-top: 32px;

    color: #666;
    text-decoration: none;
}

.category-list button.selected {
    background-color: #ffffff;
    color: #111111;
    outline: 2px solid #111111;
}

#nextButton:disabled {
    opacity: 0.35;
    cursor: not-allowed;
}